#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "syncthing"
name = "Syncthing"
description.en = "Continuous file synchronization program"
description.fr = "Programme de synchronisation de fichiers en continu"

version = "2.0.11~ynh1"

maintainers = ["txmrl", "yalh76"]

[upstream]
license = "MPL-2.0"
website = "https://syncthing.net"
userdoc = "https://docs.syncthing.net"
code = "https://github.com/syncthing/syncthing"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = true
sso = true

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/syncthing"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

[resources]
    [resources.sources.main]
    arm64.url = "https://github.com/syncthing/syncthing/releases/download/v2.0.11/syncthing-linux-arm64-v2.0.11.tar.gz"
    arm64.sha256 = "9a7eacb14ee453c794b60ac4c2a934d420b2e8d61e99ea8753a1146b170f5a36"
    amd64.url = "https://github.com/syncthing/syncthing/releases/download/v2.0.11/syncthing-linux-amd64-v2.0.11.tar.gz"
    amd64.sha256 = "b3390ff64518f19b55ff73eba113fad15e9dc5b394f76422f620f9c783ad44bb"
    armhf.url = "https://github.com/syncthing/syncthing/releases/download/v2.0.11/syncthing-linux-arm-v2.0.11.tar.gz"
    armhf.sha256 = "72e9ad8b750cbefcaed5f8d544f1c7cd98a16020b6c83e4b73e423a8079b7fe6"
    i386.url = "https://github.com/syncthing/syncthing/releases/download/v2.0.11/syncthing-linux-386-v2.0.11.tar.gz"
    i386.sha256 = "cef31b6d22fb0cab04f89157685ade684901886b407d70771b87276e438223f9"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.arm64 = "syncthing-linux-arm64-.*.tar.gz"
    autoupdate.asset.amd64 = "syncthing-linux-amd64-.*.tar.gz"
    autoupdate.asset.i386 = "syncthing-linux-386-.*.tar.gz"
    autoupdate.asset.armhf = "syncthing-linux-arm-.*.tar.gz"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 22000
    main.exposed = "TCP"
    gui.default = 8384
