<configuration>
    <gui enabled="true" tls="false" debugging="false">
        <address>127.0.0.1:__GUI_PORT__</address>
        <authMode>ldap</authMode>
    </gui>
    <ldap>
        <address>localhost:389</address>
        <bindDN>uid=%s,ou=users,dc=yunohost,dc=org</bindDN>
        <transport>nontls</transport>
        <insecureSkipVerify>false</insecureSkipVerify>
    </ldap>
    <options>
        <listenAddress>tcp://0.0.0.0:__PORT__</listenAddress>
        <listenAddress>quic://0.0.0.0:__PORT__</listenAddress>
        <globalAnnounceServer>default</globalAnnounceServer>
        <globalAnnounceEnabled>true</globalAnnounceEnabled>
        <localAnnounceEnabled>true</localAnnounceEnabled>
        <maxSendKbps>0</maxSendKbps>
        <maxRecvKbps>0</maxRecvKbps>
        <reconnectionIntervalS>60</reconnectionIntervalS>
        <relaysEnabled>true</relaysEnabled>
        <relayReconnectIntervalM>10</relayReconnectIntervalM>
        <startBrowser>true</startBrowser>
        <natEnabled>false</natEnabled>
        <natLeaseMinutes>0</natLeaseMinutes>
        <natRenewalMinutes>0</natRenewalMinutes>
        <natTimeoutSeconds>0</natTimeoutSeconds>
        <urAccepted>3</urAccepted>
        <urSeen>3</urSeen>
        <urUniqueID></urUniqueID>
        <urURL>https://data.syncthing.net/newdata</urURL>
        <urPostInsecurely>false</urPostInsecurely>
        <urInitialDelayS>1800</urInitialDelayS>
        <restartOnWakeup>true</restartOnWakeup>
        <autoUpgradeIntervalH>12</autoUpgradeIntervalH>
        <upgradeToPreReleases>false</upgradeToPreReleases>
        <keepTemporariesH>24</keepTemporariesH>
        <cacheIgnoredFiles>false</cacheIgnoredFiles>
        <progressUpdateIntervalS>5</progressUpdateIntervalS>
        <limitBandwidthInLan>false</limitBandwidthInLan>
        <minHomeDiskFree unit="%">0</minHomeDiskFree>
        <releasesURL>https://upgrades1.syncthing.net/meta.json</releasesURL>
        <overwriteRemoteDeviceNamesOnConnect>true</overwriteRemoteDeviceNamesOnConnect>
        <tempIndexMinBlocks>10</tempIndexMinBlocks>
        <trafficClass>0</trafficClass>
        <defaultFolderPath>__DATADIR__</defaultFolderPath>
        <setLowPriority>true</setLowPriority>
        <maxConcurrentScans>0</maxConcurrentScans>
    </options>
</configuration>
