<configuration>
    <gui enabled="true" tls="false" debugging="false">
        <address>127.0.0.1:__GUI_PORT__</address>
    </gui>
    <ldap>
        <address>localhost:389</address>
        <bindDN>uid=%s,ou=users,dc=yunohost,dc=org</bindDN>
        <transport>nontls</transport>
        <insecureSkipVerify>false</insecureSkipVerify>
    </ldap>
    <options>
        <listenAddress>default</listenAddress>
        <defaultFolderPath>__SYNC_HOME__</defaultFolderPath>
        <minHomeDiskFree unit="%">1</minHomeDiskFree>
    </options>
</configuration>
